@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseFontSize: 14px;
  --responsiveFontSize: 0.25dvw;
}

@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
  }
}

body * {
  font-size: calc(var(--baseFontSize) + var(--responsiveFontSize));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
